<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature android:name="android.hardware.camera.any" android:required="false" />

    <application
        android:name=".crash.CrashApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.PhonkDropEditor">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            Crash reporting screen. exported=false: it is only ever launched by
            this app. singleTask keeps it unique on screen and prevents the
            app from stacking crash screens on top of each other.
        -->
        <activity
            android:name=".crash.CrashLogActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.PhonkCrash" />

        <activity
            android:name=".crash.CrashHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.PhonkCrash" />

        <activity
            android:name=".crash.CrashDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.PhonkCrash" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="dev.phonk.editor.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>